<form [formGroup]="addressForm" (ngSubmit)="submition()">
  <div
    class="flex justify-start items-center pt-[23px] px-6 pb-[22px] gap-[15px] border border-[#AFA8A8] rounded-[15px] mb-15"
  >
    <figure>
      <img
        class="max-w-[80px] max-h-[80px] rounded-[15px] box-shadow-sm"
        loading="lazy"
        src="/images/common/maps.png"
        alt="address"
      />
    </figure>
    <div class="title flex-grow-1">
      <div class="flex justify-between items-center">
        <h3
          class="text-black text-description-size font-semibold capitalize mb-[13px]"
        >
          {{ "saudi_arabia" | translate }}
        </h3>

        <button
          class="text-[#ff0004] text-description-size underline font-light capitalize"
        >
          {{ "deleted-address" | translate }}
        </button>
      </div>

      <p class="text-[#333] text-category-size capitalize">
        {{ "maps-subtitle" | translate }}
      </p>
    </div>
  </div>

  <h2 class="text-title-size text-black font-bold mb-[40px]">
    {{ "add.new.address" | translate }}
  </h2>

  <!-- Full Name  -->
  <div class="flex justify-between items-center gap-x-[23px] mb-[44px]">
    <!-- First Name  -->
    <div class="flex-grow-1">
      <label
        for="first_name"
        class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
      >
        {{
          "auth.register.register-form.address.fields.first_name.label"
            | translate
        }}
      </label>
      <input
        type="text"
        id="first_name"
        formControlName="first_name"
        [ngClass]="{ 'border-red-500': isFieldInvalid('first_name') }"
        class="bg-white border border-[#8D8D8D] rounded-[15px] rtl:pr-4 ltr:pl-4 py-[18px] w-full"
        [placeholder]="
          'auth.register.register-form.address.fields.first_name.placeholder'
            | translate
        "
      />
      <div
        *ngIf="isFieldInvalid('first_name')"
        class="text-red-500 text-sm mt-1"
      >
        {{ getErrorMessage("first_name") }}
      </div>
    </div>

    <!-- Last Name  -->
    <div class="flex-grow-1">
      <label
        for="last-name"
        class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
      >
        {{
          "auth.register.register-form.address.fields.last_name.label"
            | translate
        }}
      </label>
      <input
        type="text"
        id="last-name"
        formControlName="last_name"
        [ngClass]="{ 'border-red-500': isFieldInvalid('last_name') }"
        class="bg-white border border-[#8D8D8D] rounded-[15px] rtl:pr-4 ltr:pl-4 py-[18px] w-full"
        [placeholder]="
          'auth.register.register-form.address.fields.last_name.placeholder'
            | translate
        "
      />
      <div
        *ngIf="isFieldInvalid('last_name')"
        class="text-red-500 text-sm mt-1"
      >
        {{ getErrorMessage("last_name") }}
      </div>
    </div>
  </div>

  <!-- address -->
  <div class="mb-[41px]">
    <label
      for="address"
      class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
    >
      {{
        "auth.register.register-form.address.fields.address.label" | translate
      }}
    </label>
    <input
      type="text"
      id="address"
      formControlName="address"
      [ngClass]="{ 'border-red-500': isFieldInvalid('address') }"
      class="bg-white border border-[#8D8D8D] rounded-[15px] rtl:pr-4 ltr:pl-4 py-[18px] w-full"
      [placeholder]="
        'auth.register.register-form.address.fields.address.placeholder'
          | translate
      "
    />
    <div *ngIf="isFieldInvalid('address')" class="text-red-500 text-sm mt-1">
      {{ getErrorMessage("address") }}
    </div>
  </div>

  <!-- City -->
  <div class="mb-[41px]">
    <label
      for="city"
      class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
    >
      {{ "auth.register.register-form.address.fields.city.label" | translate }}
    </label>
    <input
      type="text"
      id="city"
      formControlName="city"
      [ngClass]="{ 'border-red-500': isFieldInvalid('city') }"
      class="bg-white border border-[#8D8D8D] rounded-[15px] rtl:pr-4 ltr:pl-4 py-[18px] w-full"
      [placeholder]="
        'auth.register.register-form.address.fields.city.placeholder'
          | translate
      "
    />
    <div *ngIf="isFieldInvalid('city')" class="text-red-500 text-sm mt-1">
      {{ getErrorMessage("city") }}
    </div>
  </div>

  <!-- phone -->
  <div class="mb-[41px]">
    <label
      for="phone"
      class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
    >
      {{ "auth.register.register-form.address.fields.phone.label" | translate }}
    </label>
    <input
      type="tel"
      id="phone"
      formControlName="phone"
      [ngClass]="{ 'border-red-500': isFieldInvalid('phone') }"
      class="bg-white border border-[#8D8D8D] rounded-[15px] rtl:pr-4 ltr:pl-4 py-[18px] w-full"
      [placeholder]="
        'auth.register.register-form.address.fields.phone.placeholder'
          | translate
      "
    />
    <div *ngIf="isFieldInvalid('phone')" class="text-red-500 text-sm mt-1">
      {{ getErrorMessage("phone") }}
    </div>
  </div>

  <!-- Email -->
  <div class="mb-[41px]">
    <label
      for="email"
      class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
    >
      {{ "auth.register.register-form.address.fields.email.label" | translate }}
    </label>
    <input
      type="email"
      formControlName="email"
      id="email"
      [ngClass]="{ 'border-red-500': isFieldInvalid('email') }"
      class="bg-white border border-[#8D8D8D] rounded-[15px] rtl:pr-4 ltr:pl-4 py-[18px] w-full"
      [placeholder]="
        'auth.register.register-form.address.fields.email.placeholder'
          | translate
      "
    />
    <div *ngIf="isFieldInvalid('email')" class="text-red-500 text-sm mt-1">
      {{ getErrorMessage("email") }}
    </div>
  </div>

  <div class="flex justify-between items-center">
    <app-button
      [px]="'px-[84px]'"
      [py]="'py-[9px] '"
      [title]="'add.address' | translate"
      [disabled]="loading()"
      [isLoading]="loading()"
      type="submit"
    >
    </app-button>

    <button
      type="button"
      (click)="resetForm()"
      class="text-rose-600 text-description-size underline font-light capitalize"
    >
      {{ "reset.form" | translate }}
    </button>
  </div>
</form>
