<section class="container mx-auto px-4 mb-[60px]">
  <!-- Section Header -->
  <div class="flex items-center justify-between mb-[35px] font-bold">
    <h2 class="text-[8px] md:text-title-size">
      {{ "news-articles.main-title" | translate }}

      <span class="text-muted-rose">
        {{ "news-articles.title" | translate }}
      </span>
    </h2>

    <a
      class="text-[5px] md:text-subtitle-size text-white bg-warm-tan rounded-full py-[13px] px-[35px]"
    >
      {{ "news-articles.title" | translate }}
    </a>
  </div>

  <!-- Responsive Grid -->
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 cursor-pointer"
  >
    <!-- Card 1 -->
    <div class="bg-white">
      <figure class="mb-[15px]">
        <img
          loading="lazy"
          src="/images/news/1.png"
          alt="article"
          class="w-full object-cover"
        />
      </figure>
      <div>
        <div class="built relative">
          <div class="classs text-[14px] text-[#333] mb-[13px]">
            {{ "news-articles.card-1.date" | translate }}
          </div>
          <div class="circle"></div>
        </div>
        <h3 class="text-description-size mb-[10px]">
          {{ "news-articles.card-1.title" | translate }}
        </h3>
        <a href="#" class="text-muted-rose text-[14px] font-bold underline">
          {{ "shared.readMore" | translate }}
        </a>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="bg-white">
      <figure class="mb-[15px]">
        <img
          src="/images/news/2.png"
          alt="article"
          loading="lazy"
          class="w-full object-cover"
        />
      </figure>
      <div>
        <div class="built relative">
          <div class="classs text-[14px] text-[#333] mb-[13px]">
            {{ "news-articles.card-1.date" | translate }}
          </div>
          <div class="circle"></div>
        </div>
        <h3 class="text-description-size mb-[10px]">
          {{ "news-articles.card-1.title" | translate }}
        </h3>
        <a href="#" class="text-muted-rose text-[14px] font-bold underline">
          {{ "shared.readMore" | translate }}
        </a>
      </div>
    </div>
    <!-- Card 3 -->
    <div class="bg-white">
      <figure class="mb-[15px]">
        <img
          loading="lazy"
          src="/images/news/3.png"
          alt="article"
          class="w-full object-cover"
        />
      </figure>
      <div>
        <div class="built relative">
          <div class="classs text-[14px] text-[#333] mb-[13px]">
            {{ "news-articles.card-1.date" | translate }}
          </div>
          <div class="circle"></div>
        </div>
        <h3 class="text-description-size mb-[10px]">
          {{ "news-articles.card-1.title" | translate }}
        </h3>
        <a href="#" class="text-muted-rose text-[14px] font-bold underline">
          {{ "shared.readMore" | translate }}
        </a>
      </div>
    </div>
  </div>
</section>
