<div
  class="container mx-auto px-4 mb-[109px] overflow-x-hidden md:overflow-x-visible"
>
  <div class="flex flex-wrap gap-x-6 gap-y-9 xl:gap-y-6 justify-center">
    @for (offer of offers.slice(0, 2); track offer.id) {

    <app-big-card-offer
      [mainColor]="$even"
      [alt]="offer | customTranslate : 'title'"
      [imgPath]="`/images/categories/${$index}.webp`"
      [title]="offer | customTranslate : 'title'"
      [subtitle]="offer | customTranslate : 'samll_title'"
      [description]="offer | customTranslate : 'text'"
    ></app-big-card-offer>
    }
  </div>
</div>
