<div
  class="card-wrapper bg-white border border-gray-200 overflow-hidden relative"
>
  <div class="btns absolute top-[30px] right-[25px] z-1 flex flex-col">
    <button class="mb-[10px] cursor-pointer">
      <figure>
        <img
          loading="lazy"
          src="/images/common/wishlist.svg"
          alt="add in wishlist"
        />
      </figure>
    </button>
    <button class="cursor-pointer">
      <figure>
        <img loading="lazy" src="/images/common/cart.svg" alt="add to cart" />
      </figure>
    </button>
  </div>
  <div class="img relative cursor-pointer">
    <figure class="h-[386px] md:h-[334px]">
      <img
        class="w-full h-full"
        [src]="getImageUrl(productData.main_image)"
        alt="product image"
      />
    </figure>
    <!-- Offer Title -->
    @if (productData.sale_price) {
    <div
      class="absolute top-3 left-3 bg-[#000000b3] text-white py-4 px-8 rounded-full text-category-size font-bold"
    >
      {{ +productData.sale_price / 100 | percent : "0.0" }}
    </div>
    }
  </div>

  <div
    class="flex flex-row rtl:flex-row-reverse justify-between items-center mt-[26px] mb-4"
  >
    <a
      href="#"
      class="text-muted-rose hover:underline text-category-size underline font-bold"
    >
      {{ "shared.show-products" | translate }}
    </a>

    <p class="text-black mb-3 text-category-size">
      {{ productData | customTranslate : "name" }}
    </p>
  </div>

  <h3
    class="text-description-size font-bold text-black mb-8 line-clamp-1"
    [innerHTML]="productData | customTranslate : 'description' | filterHtml"
  ></h3>
  <div class="text-subtitle-size mb-[13px]">
    @if (productData.price_after_sale) {
    <span class="text-warm-tan font-bold rtl:mr-[28px] ltr:mr-[28px]">
      {{ productData.price_after_sale }}
      {{ "shared.currency" | translate }}
    </span>
    }
    <!-- prev Price Based on Offer -->
    <span class="line-through text-black">
      {{ productData.price }}
      {{ "shared.currency" | translate }}
    </span>
  </div>
</div>
