<form [formGroup]="addressForm" (ngSubmit)="submition()">
  <!-- Password -->
  <div class="mb-[41px]">
    <label
      for="country"
      class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
    >
      {{ "auth.register.register-form.password.newPassword.label" | translate }}
    </label>
    <input
      type="text"
      id="country"
      class="bg-white border border-[#8D8D8D] rounded-[15px] pr-4 py-[18px] w-full rtl:text-right ltr:text-left"
      [placeholder]="
        'auth.register.register-form.password.newPassword.placeholder'
          | translate
      "
    />
  </div>

  <!-- Re Password -->
  <div class="mb-[41px]">
    <label
      for="address"
      class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
    >
      {{
        "auth.register.register-form.password.confirmPassword.label" | translate
      }}
    </label>
    <input
      type="text"
      id="address"
      class="bg-white border border-[#8D8D8D] rounded-[15px] pr-4 py-[18px] w-full"
      [placeholder]="
        'auth.register.register-form.password.confirmPassword.label' | translate
      "
    />
  </div>

  <div class="flex justify-between items-center">
    <app-button
      [px]="'px-[84px]'"
      [py]="'py-[9px] '"
      [title]="'routes.register' | translate"
      type="'submit'"
    >
    </app-button>
  </div>
</form>
