<section class="overflow-x-hidden">
  <app-articles-header
    [title]="'articles.header.title' | translate"
    [showRotateImage]="false"
    [subTitle]="'articles.header.subtitle' | translate"
    [marginBottom]="'6'"
  ></app-articles-header>
  <div class="container mx-auto">
    <!-- Layout -->

    <div class="grid grid-cols-1 xl:grid-cols-12 gap-11 items-start">
      <div class="xl:col-span-9 xl:text-justify order-2 xl:order-1">
        @if (loading) {
        <app-loading></app-loading>

        } @else if (blogs && blogs.length > 0) { @for (blog of blogs | paginate:
        { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems:
        totalItems }; track blog.id || $index) {
        <app-articles-card-shared [blogData]="blog"></app-articles-card-shared>
        }

        <!-- Pagination Controls -->
        <div class="flex justify-center mt-8">
          <div
            class="custom-pagination flex items-center gap-2 rtl:flex-row-reverse"
          >
            <!-- Next Button (التالى in Arabic) -->
            <button
              (click)="onPageChange(currentPage + 1)"
              [disabled]="currentPage >= totalPages()"
              [class.opacity-50]="currentPage >= totalPages()"
              class="pagination-button px-[10px] pb-[1px] bg-[#D9D9D9] rounded-[10px] font-medium text-[20px] text-black hover:bg-gray-300 disabled:cursor-not-allowed border-[1px] border-[#B4B4B4]"
            >
              {{ "shared.next" | translate }}
            </button>

            <!-- Page Numbers -->
            <div class="flex gap-2">
              @for (page of getPageNumbers(); track page) {
              <button
                (click)="onPageChange(page)"
                [class.bg-[#d3aa7e]]="currentPage === page"
                [class.text-white]="currentPage === page"
                [class.border-[#CBAC8D]]="currentPage === page"
                class="cursor-pointer pagination-number w-[23px] h-[23px] flex items-center justify-center rounded-full text-black border-2 border-[#A7A0A0] px-[8px] py-[1px]"
              >
                {{ page }}
              </button>
              }
            </div>
          </div>
        </div>
        } @else {
        <div class="text-center py-8">
          <p class="text-gray-500">No articles found.</p>
        </div>
        }
      </div>

      <div class="xl:col-span-3 order-1 xl:order-2">
        <!-- Heading -->
        <app-section-heading
          class="mb-3"
          [sectionName]="'articles.sidebar.popular-section' | translate"
        ></app-section-heading>

        <!-- Blogs Related -->
        <div class="all-sections mb-[60px]">
          @for (blog of blogs.slice(0, 4); track $index) {
          <a
            class="cursor-pointer"
            href="#"
            [routerLink]="[
              '/',
              currentLanguage$ | async,
              'blog',
              blog | customTranslate : 'slug'
            ]"
          >
            <div
              class="p-3 mb-3 border rounded-[15px] border-[#E0E0E0] text-[#474747] text-description-size bg-white"
            >
              <span>
                {{ blog | customTranslate : "blog_title" }}
              </span>
            </div>
          </a>
          }
        </div>

        <!-- Best Selling  -->
        <div class="newProducts mb-[60px]">
          <app-section-heading
            class="mb-3"
            [sectionName]="'articles.sidebar.new-products' | translate"
          ></app-section-heading>
          <!-- First Card  -->
          <div class="card md:flex flex-wrap justify-between block">
            @for (latestProduct of latestProducts.slice(0,4); track $index) {
            <div class="flex gap-2 items-center mb-[23px]">
              <a
                class="cursor-pointer"
                [routerLink]="[
                  '/',
                  currentLanguage$ | async,
                  'blog',
                  latestProduct | customTranslate : 'slug'
                ]"
              >
                <figure
                  class="w-[99px] h-[99px] rounded-[15px] overflow-hidden"
                >
                  <img
                    loading="lazy"
                    class="w-full h-full object-cover"
                    [appImageUrl]="latestProduct.main_image"
                    [imageEndpoint]="'uploads/blogs'"
                    [alt]="latestProduct | customTranslate : 'name'"
                  />
                </figure>
              </a>
              <div class="content">
                <p class="mb-[10px] text-category-size text-[#333]">
                  <a
                    [routerLink]="[
                      '/',
                      currentLanguage$ | async,
                      'blog',
                      latestProduct | customTranslate : 'slug'
                    ]"
                  >
                    {{ latestProduct | customTranslate : "name" }}
                  </a>
                </p>
                <div
                  class="mb-[10px] text-category-size font-semibold text-black line-clamp-1"
                >
                  <app-safe-html
                    [content]="latestProduct | customTranslate : 'description'"
                  ></app-safe-html>
                </div>
              </div>
            </div>
            }
          </div>
        </div>

        <app-talent-image-card
          [imagePath]="'/images/news/13.webp'"
        ></app-talent-image-card>
      </div>
    </div>
  </div>
</section>
