footer {
  background-image: url(/images/common/bg.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: padding-box;
}

.img-footer {
  left: 0;
  bottom: -65px;
}
