<footer class="bg-white relative border-t border-gray-200 pb-[65px]">
  <div class="container mx-auto px-4 pt-8 sm:px-6 lg:px-8 relative z-10">
    <div class="grid lg:grid-cols-5 gap-8 ltr:text-left rtl:text-right">
      <!-- Column 1: Logo + Description -->
      <div class="space-y-4">
        <img
          src="/images/navbar/2.webp"
          alt="logo"
          class="h-8 mx-auto md:mx-0"
        />
        <div class="text-sm text-footer-color leading-relaxed">
          <app-safe-html
            [content]="footerTitle | customTranslate : 'footer_for_text'"
          ></app-safe-html>
        </div>
      </div>

      <!-- Column 2: الأقسام (Now spans 2 columns) -->
      <div class="md:col-span-2">
        <h3 class="mb-4 text-sm font-bold text-black">
          {{ "footer.sections.title" | translate }}
        </h3>
        <div class="links flex justify-between">
          <!-- First column of categories -->
          <ul class="space-y-2 text-sm text-footer-color flex-grow-2">
            @for (category of categories(); track category.id; let i = $index) {
            @if (i < categories().length / 2) {
            <li>
              <a
                [routerLink]="['/', currentLang$ | async, 'shopping']"
                [queryParams]="{ categoryId: category.id }"
                class="hover:underline"
              >
                {{ category | customTranslate : "name" }}
              </a>
            </li>
            } }
          </ul>
          <!-- Second column of categories -->
          <ul class="space-y-2 text-sm text-footer-color flex-grow-2">
            @for (category of categories(); track category.id; ) { @if ($index
            >= categories().length / 2) {
            <li>
              <a
                [routerLink]="['/', currentLang$ | async, 'shopping']"
                [queryParams]="{ categoryId: category.id }"
                class="hover:underline"
              >
                {{ category | customTranslate : "name" }}
              </a>
            </li>
            } }
          </ul>
        </div>
      </div>

      <!-- Column 3: معلوماتنا -->
      <div>
        <h3 class="mb-4 text-sm font-bold text-black">
          {{ "footer.info.title" | translate }}
        </h3>
        <ul class="space-y-2 text-sm text-footer-color">
          <li>
            <a
              [routerLink]="['/', currentLang$ | async, 'privacy']"
              class="hover:underline text-footer-color cursor-pointer"
              [attr.aria-label]="'footer.info.items.privacy_policy' | translate"
            >
              {{ "footer.info.items.privacy_policy" | translate }}
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/', currentLang$ | async, 'about-us']"
              class="hover:underline text-footer-color cursor-pointer"
              [attr.aria-label]="'footer.info.items.about_us' | translate"
            >
              {{ "footer.info.items.about_us" | translate }}
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/', currentLang$ | async, 'blogs']"
              class="hover:underline text-footer-color cursor-pointer"
              [attr.aria-label]="'footer.info.items.news_articles' | translate"
            >
              {{ "footer.info.items.news_articles" | translate }}
            </a>
          </li>
        </ul>
      </div>

      <!-- Column 4: تواصل معنا -->
      <div>
        <h3 class="mb-4 text-sm font-bold text-black">
          {{ "footer.contact.title" | translate }}
        </h3>
        <ul class="space-y-2 text-sm text-footer-color">
          <li class="flex items-center">
            <a
              [href]="
                'https://api.whatsapp.com/send?phone=' + contactUs()?.phone
              "
              target="_blank"
              rel="noopener noreferrer"
              class="text-footer-color hover:underline cursor-pointer flex items-center w-full"
              [attr.aria-label]="'footer.contact.whatsapp_chat' | translate"
            >
              <span class="mr-1">{{ "footer.contact.phone" | translate }}</span>
              <span class="mx-1">{{ contactUs()?.phone }} </span>
            </a>
          </li>
          <li class="flex items-center">
            <a
              [href]="
                'https://www.google.com/maps?q=' + contactUs()
                  | customTranslate : 'address'
              "
              target="_blank"
              rel="noopener noreferrer"
              class="text-footer-color hover:underline cursor-pointer flex items-center w-full"
              [attr.aria-label]="contactUs() | customTranslate : 'address'"
            >
              <span>{{ "footer.contact.address" | translate }}</span>
              {{ contactUs() | customTranslate : "address" }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Footer bottom -->
    <div
      class="flex items-center justify-center mt-[69px] text-center relative"
    >
      <a href="https://digitalbondmena.com/" class="font-bold text-black"
        >DIGITAL BOND</a
      >
      <a class="mx-[3px] max-w-[35px]" href="https://digitalbondmena.com/">
        <img src="/images/navbar/lOGO.webp" alt="DIGITAL BOND Logo" />
      </a>
      <span>
        {{ "footer.rights" | translate }}
      </span>
      <div class="img-footer absolute -z-1">
        <figure>
          <img loading="lazy" src="/images/footer/1.png" alt="footer" />
        </figure>
      </div>
    </div>
  </div>
  <div class="absolute top-0 left-0 w-full h-full bg-white opacity-97"></div>
</footer>
