@if (isOpen) {
  <div class="absolute inset-0 bg-black/80 z-50 flex items-center justify-center px-4">
    <div class="w-full max-w-screen-xl mx-auto relative">
      <div class="flex items-center mx-auto md:max-w-[50%] border-b-2 border-gray-200 relative">
        <input
          type="text"
          [(ngModel)]="searchQuery"
          placeholder="Search Here..."
          class="w-full py-4 px-2 fs-[30px] text-white font-bold text-xl outline-none bg-transparent pr-12"
          (keyup.enter)="onSearch()"
        />
        <button
          (click)="onSearch()"
          class="absolute right-0 top-1/2 -translate-y-1/2 text-white hover:text-pink-500 p-2"
          aria-label="Perform search"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
            />
          </svg>
        </button>
      </div>
      <button
        (click)="onClose()"
        class="absolute left-1/2 -translate-x-1/2 bottom-[100px] cursor-pointer hover:text-white-500 bg-pink-500 hover:bg-pink-600 rounded-full text-white p-2 transition-colors duration-200"
        aria-label="Close search"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
  </div>
}
