<!-- Current order -->
<div class="mb-[35px]">
  @if(!loading()){
  <div
    class="bg-warm-tan text-white flex flex-col md:flex-row-reverse justify-between items-center rounded-t-[20px] pb-[17px] pt-[18px] px-[42px] text-description-size capitalize text-center"
  >
    <div class="mb-4 md:mb-0">
      <p class="pb-[10px]">{{ "order.date.date" | translate }}</p>
      <p class="font-bold">
        {{ orders().row.created_at | date : "dd/MM/yyyy" }}
      </p>
    </div>
    <div class="mb-4 md:mb-0">
      <p class="pb-[10px]">{{ "order-status.order-status" | translate }}</p>
      <p class="font-bold">{{ "order-status.value" | translate }}</p>
    </div>
    <div class="mb-4 md:mb-0">
      <p class="pb-[10px]">{{ "total-price.total-price" | translate }}</p>
      <p class="font-bold">{{ "total-price.value" | translate }}</p>
    </div>
    <div class="mb-4 md:mb-0">
      <p class="pb-[10px]">{{ "order-number" | translate }}</p>
      <p class="font-bold">{{ "order-number-value" | translate }}</p>
    </div>
    <button
      class="bg-white text-muted-rose rounded-[50px] px-[27px] py-[9px] text-description-size font-bold capitalize cursor-pointer"
    >
      {{ "reorder" | translate }}
    </button>
  </div>

  <div class="space-y-4 border border-[#AFA8A8] px-[42px] rounded-b-[15px]">
    @for(order of orders().row.confirmed_orders; track order.id){
    <div
      class="flex flex-col md:flex-row items-center border-b border-[#8D8D8D] pb-[30px] pt-[54px]"
    >
      <img
        class="w-[80px] h-[80px] rounded-[15px] mb-4 md:mb-0"
        src="/images/wishlist/3.png"
        alt="Product Image"
      />
      <div class="flex-grow rtl:pr-4 ltr:pl-4">
        <p class="text-description-size font-bold mb-[15px]">
          {{ "footer.sections.items.skincare" | translate }}
        </p>
        <p class="text-category-size text-[#333]">
          {{ "wishlist.productsItem.item-1.subtitle" | translate }}
        </p>
      </div>
      <p class="text-lg font-semibold">
        200
        {{ "wishlist.productsItem.item-1.price" | translate }}
      </p>
    </div>
    }

    <button
      class="bg-[#FFF4E9] block w-full md:inline md:w-auto cursor-pointer text-muted-rose border border-[#A48374] py-[17px] px-[27px] text-description-size font-bold rounded-[50px] capitalize mb-[30px]"
    >
      {{ "order.request-accepted" | translate }}
    </button>
    <div
      class="flex flex-col md:flex-row justify-between items-center mb-[41px] flex-wrap"
    >
      <div
        class="space-x-4 space-y-4 flex-grow-1 md:flex-grow-0 md:w-auto w-full mb-3 md:mb-0"
      >
        <button
          class="block w-full md:w-auto md:inline bg-[#CBAC8D] text-white cursor-pointer border border-[#rgba(164, 131, 116, 0.00)] py-[9px] px-[54px] text-description-size rounded-[50px] capitalize"
        >
          {{ "track-order" | translate }}
        </button>
        <button
          class="block w-full md:w-auto md:inline bg-white text-[#A48374] cursor-pointer border border-[#A48374] py-[9px] px-[54px] text-description-size rounded-[50px] capitalize"
        >
          {{ "invoice" | translate }}
        </button>
      </div>
      <button
        class="text-red-600 underline description-size block mx-auto md:mx-0 md:inline"
      >
        {{ "cancel-order" | translate }}
      </button>
    </div>
  </div>
  } @else {
  <app-loading></app-loading>
  }
</div>

@if(!loading()){
<!-- Have been Delivered -->
<div>
  <div
    class="bg-warm-tan text-white flex flex-col md:flex-row-reverse justify-between items-center rounded-t-[20px] pb-[17px] pt-[18px] px-[42px] text-description-size capitalize text-center"
  >
    <div class="mb-4 md:mb-0">
      <p class="pb-[10px]">{{ "order.date.date" | translate }}</p>
      <p class="font-bold">{{ "order.date.value" | translate }}</p>
    </div>
    <div class="mb-4 md:mb-0">
      <p class="pb-[10px]">{{ "order-status.order-status" | translate }}</p>
      <p class="font-bold">{{ "order-status.value" | translate }}</p>
    </div>
    <div class="mb-4 md:mb-0">
      <p class="pb-[10px]">{{ "total-price.total-price" | translate }}</p>
      <p class="font-bold">{{ "total-price.value" | translate }}</p>
    </div>
    <div class="mb-4 md:mb-0">
      <p class="pb-[10px]">{{ "order-number" | translate }}</p>
      <p class="font-bold">{{ "order-number-value" | translate }}</p>
    </div>
    <button
      class="bg-white text-muted-rose rounded-[50px] px-[27px] py-[9px] text-description-size font-bold capitalize cursor-pointer"
    >
      {{ "reorder" | translate }}
    </button>
  </div>

  <div class="space-y-4 border border-[#AFA8A8] px-[42px] rounded-b-[15px]">
    <div
      class="flex items-center border-b border-[#8D8D8D] pb-[30px] pt-[54px]"
    >
      <img
        class="w-[80px] h-[80px] rounded-[15px]"
        src="/images/wishlist/3.png"
        alt="Product Image"
      />
      <div class="flex-grow rtl:pr-4 ltr:pl-4">
        <p class="text-description-size font-bold mb-[15px]">
          {{ "footer.sections.items.skincare" | translate }}
        </p>
        <p class="text-category-size text-[#333]">
          {{ "wishlist.productsItem.item-1.subtitle" | translate }}
        </p>
      </div>
      <p class="text-lg font-semibold">
        200
        {{ "wishlist.productsItem.item-1.price" | translate }}
      </p>
    </div>

    <div class="flex justify-between items-center mb-[30px] gap-4 flex-wrap">
      <button
        class="bg-[#E4FFE9] block w-full md:inline md:w-auto cursor-pointer text-[#2B841F] border border-[#2B841F] py-[17px] px-[27px] text-description-size font-bold rounded-[50px] capitalize"
      >
        {{ "order.delivered" | translate }}
      </button>
      <button
        class="block w-full md:w-auto md:inline bg-white text-[#A48374] cursor-pointer border border-[#A48374] py-[9px] px-[54px] text-description-size rounded-[50px] capitalize"
      >
        {{ "invoice" | translate }}
      </button>
    </div>
  </div>
</div>
}@else {
<app-loading></app-loading>

}
