<form
  [formGroup]="registerForm"
  (ngSubmit)="submition()"
  @formAnimation
  [@shake]="shakeState()"
>
  <figure class="mb-[30px] block" @iconAnimation>
    <img loading="lazy" src="/images/common/username.svg" alt="" />
  </figure>
  <!-- Form Fields Container -->
  <div @fieldAnimation>
    <!-- Full Name  -->
    <div class="flex justify-between items-start gap-x-[23px] mb-[44px]">
      <!-- First Name  -->
      <div class="flex-grow-1 w-full">
        <label
          for="firstName"
          class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
        >
          {{ "contact-us.form.first-name" | translate }}
        </label>
        <input
          formControlName="firstName"
          type="text"
          id="firstName"
          class="bg-white border border-[#8D8D8D] rounded-[15px] rtl:pr-4 ltr:pl-4 py-[18px] w-full"
          [class.border-red-500]="firstName?.invalid && firstName?.touched"
          [placeholder]="'contact-us.form.placeholder-first-name' | translate"
        />
        @if (firstName?.invalid && firstName?.touched) {
        <div class="text-red-500 mt-2 text-sm">
          @if (firstName?.errors?.['required']) {
          <span>{{ "validation.name-required" | translate }}</span>
          }
        </div>
        }
      </div>
      <!-- Last Name  -->
      <div class="flex-grow-1 w-full">
        <label
          for="lastName"
          class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
        >
          {{ "contact-us.form.last-name" | translate }}
        </label>
        <input
          formControlName="lastName"
          type="text"
          id="lastName"
          class="bg-white border border-[#8D8D8D] rounded-[15px] rtl:pr-4 ltr:pl-4 py-[18px] w-full"
          [class.border-red-500]="lastName?.invalid && lastName?.touched"
          [placeholder]="'contact-us.form.placeholder-last-name' | translate"
        />
        @if (lastName?.invalid && lastName?.touched) {
        <div class="text-red-500 mt-2 text-sm">
          @if (lastName?.errors?.['required']) {
          <span>{{ "validation.name-required" | translate }}</span>
          }
        </div>
        }
      </div>
    </div>

    <!-- Phone Number -->
    <div class="mb-[41px]">
      <label
        for="phone"
        class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
      >
        {{ "contact-us.form.phone-number" | translate }}
      </label>
      <input
        formControlName="phone"
        type="text"
        id="phone"
        class="bg-white border border-[#8D8D8D] rounded-[15px] rtl:pr-4 ltr:pl-4 py-[18px] w-full"
        [class.border-red-500]="phone?.invalid && phone?.touched"
        [placeholder]="'contact-us.form.placeholder-phone-number' | translate"
      />
      @if (phone?.invalid && phone?.touched) {
      <div class="text-red-500 mt-2 text-sm">
        @if (phone?.errors?.['required']) {
        <span>{{ "validation.phone-required" | translate }}</span>
        }
      </div>
      }
    </div>

    <!-- Email -->
    <div class="mb-[41px]">
      <label
        for="email"
        class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
      >
        {{ "contact-us.form.email" | translate }}
      </label>
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-white border border-[#8D8D8D] rounded-[15px] rtl:pr-4 ltr:pl-4 py-[18px] w-full"
        [class.border-red-500]="email?.invalid && email?.touched"
        [placeholder]="'contact-us.form.placeholder-email' | translate"
      />
      @if (email?.invalid && email?.touched) {
      <div class="text-red-500 mt-2 text-sm">
        @if (email?.errors?.['required']) {
        <span>{{ "validation.email-required" | translate }}</span>
        } @if (email?.errors?.['email']) {
        <span>{{ "validation.email-format" | translate }}</span>
        }
      </div>
      }
    </div>
    <!-- Password -->
    <div class="mb-[41px]">
      <label
        for="password"
        class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
      >
        {{ "auth.login.login-form.password" | translate }}
      </label>
      <input
        formControlName="password"
        type="password"
        id="password"
        class="bg-white border border-[#8D8D8D] rounded-[15px] rtl:pr-4 ltr:pl-4 py-[18px] w-full"
        [class.border-red-500]="password?.invalid && password?.touched"
        [placeholder]="'auth.login.login-form.password-placeholder' | translate"
      />
      @if (password?.invalid && password?.touched) {
      <div class="text-red-500 mt-2 text-sm">
        @if (password?.errors?.['required']) {
        <span>Password is required</span>
        } @if (password?.errors?.['minlength']) {
        <span>Password must be at least 6 characters</span>
        }
      </div>
      }
    </div>
    <!-- Confirm Password -->
    <div class="mb-[41px]">
      <label
        for="confirmPassword"
        class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
      >
        {{ "profile.password.confirm-password" | translate }}
      </label>
      <input
        formControlName="confirmPassword"
        type="password"
        id="confirmPassword"
        class="bg-white border border-[#8D8D8D] rounded-[15px] rtl:pr-4 ltr:pl-4 py-[18px] w-full"
        [class.border-red-500]="
          confirmPassword?.invalid && confirmPassword?.touched
        "
        [placeholder]="
          'profile.password.placeholder-confirm-password' | translate
        "
      />
      @if (confirmPassword?.invalid && confirmPassword?.touched) {
      <div class="text-red-500 mt-2 text-sm">
        @if (confirmPassword?.errors?.['required']) {
        <span>{{ "validation.password-required" | translate }}</span>
        } @if (confirmPassword?.errors?.['passwordMismatch']) {
        <span>{{ "validation.password-mismatch" | translate }}</span>
        }
      </div>
      }
    </div>
  </div>

  <div class="flex justify-between items-center" @pulse>
    <app-button
      [px]="'px-[84px]'"
      [py]="'py-[9px]'"
      [title]="'routes.register' | translate"
      [type]="'submit'"
      [disabled]="isLoading || registerForm.invalid"
    >
      @if (isLoading) {
      <span class="ml-2">Loading...</span>
      }
    </app-button>

    <span
      [routerLink]="['/', currentLang$ | async, 'login']"
      class="text-muted-rose text-description-size capitalize cursor-pointer"
    >
      {{
        "auth.register.register-form.personal.genders.haveAccount" | translate
      }}
    </span>
  </div>
</form>
