<section>
  <div class="container mx-auto">
    <div class="flex items-center justify-between mb-[50px]">
      <div>
        <h2 class="!text-title-size md:text-title-size font-bold text-[#333]">
          <span class="text-muted-rose">
            {{ "bestSelling.title" | translate }} -
          </span>
          {{ "bestSelling.bestSelling" | translate }}
        </h2>
      </div>

      <a
        [routerLink]="['/', currentLang$ | async, 'shopping']"
        class="!text-[23px] md:text-title-size text-white bg-warm-tan rounded-full p-3 md:py-[13px] md:px-[22px]"
      >
        {{ "bestSelling.viewAllProducts" | translate }}
      </a>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      @for (LatestProduct of LatestProducts; track $index) {

      <app-shared-best-seller
        [productData]="LatestProduct"
      ></app-shared-best-seller>
      }
    </div>
  </div>
</section>
