<section>
  <div class="container mx-auto">
    <div class="flex items-center justify-between mb-[50px]">
      <div>
        <h2
          class="text-description-size md:text-title-size font-bold text-[#333]"
        >
          <span class="text-muted-rose">
            {{ "bestSelling.title" | translate }} -
          </span>
          {{ "bestSelling.bestSelling" | translate }}
        </h2>
      </div>

      <a
        class="text-description-size md:text-title-size text-white bg-warm-tan rounded-full py-[13px] px-[22px]"
      >
        {{ "bestSelling.viewAllProducts" | translate }}
      </a>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      @for (bestSeller of imageSrc; track $index) {
      <!--
      <app-shared-best-seller
        [isOffer]="bestSeller.offer"
        [imgPath]="bestSeller.image"
        [description]="descriptions[$index]"
        [title]="'bestSelling.heading' | translate"
      ></app-shared-best-seller> -->
      }
    </div>
  </div>
</section>
