<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <!-- Current Password -->
  <div class="mb-[41px]">
    <label
      for="current-password"
      class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
    >
      {{ "profile.password.current-password" | translate }}
    </label>
    <input
      type="password"
      id="current-password"
      formControlName="currentPassword"
      class="bg-white border border-[#8D8D8D] rounded-[15px] rtl:pr-4 ltr:pl-4 py-[18px] w-full"
      [placeholder]="
        'profile.password.placeholder-current-password' | translate
      "
    />
  </div>

  <!-- New Password -->
  <div class="mb-[41px]">
    <label
      for="new-password"
      class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
    >
      {{ "profile.password.new-password" | translate }}
    </label>
    <input
      type="password"
      id="new-password"
      formControlName="newPassword"
      class="bg-white border border-[#8D8D8D] rounded-[15px] rtl:pr-4 ltr:pl-4 py-[18px] w-full"
      [placeholder]="'profile.password.placeholder-new-password' | translate"
    />
  </div>

  <!-- Confirm Password -->
  <div class="mb-[41px]">
    <label
      for="confirm-password"
      class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
    >
      {{ "profile.password.confirm-password" | translate }}
    </label>
    <input
      type="password"
      id="confirm-password"
      formControlName="confirmPassword"
      class="bg-white border border-[#8D8D8D] rounded-[15px] rtl:pr-4 ltr:pl-4 py-[18px] w-full"
      [placeholder]="
        'profile.password.placeholder-confirm-password' | translate
      "
    />
  </div>

  <div class="flex justify-end">
    <app-button
      class="cursor-pointer"
      [px]="'px-[84px]'"
      [py]="'py-[9px]'"
      [title]="'profile.password.update' | translate"
      [isLoading]="isLoading"
      type="submit"
    >
    </app-button>
  </div>
</form>
