<section class="container mx-auto px-4 my-[60px]">
  <!-- Section Header -->
  @if (lightLabel) {
  <div class="flex items-center justify-between mb-[35px] font-bold">
    <h2 class="text-[8px] md:text-title-size">
      {{ "news-articles.main-title" | translate }}

      <span class="text-muted-rose">
        {{ "news-articles.title" | translate }}
      </span>
    </h2>

    <a
      [routerLink]="['/', currentLang$ | async, 'blogs']"
      class="text-[5px] md:text-subtitle-size text-white bg-warm-tan rounded-full py-[13px] px-[35px]"
    >
      {{ "news-articles.title" | translate }}
    </a>
  </div>
  } @else {
  <div class="mb-[35px]">
    <h2 class="">
      {{ "news-articles.main-title" | translate }}

      <span class="text-black text-[24px]">
        {{ "blogs.title" | translate }}
      </span>
    </h2>

    <a
      class="text-[5px] md:text-subtitle-size text-white bg-warm-tan rounded-full py-[13px] px-[35px]"
    >
      {{ "news-articles.title" | translate }}
    </a>
  </div>
  }

  <!-- Responsive Grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    @if (relatedBlogs && relatedBlogs.length > 0) { @for (blog of relatedBlogs;
    track blog.id) {
    <div class="bg-white">
      <a
        [routerLink]="[
          '/',
          currentLang$ | async,
          'blog',
          blog | customTranslate : 'slug'
        ]"
      >
        <figure class="mb-[15px] rounded-2xl overflow-hidden cursor-pointer">
          <img
            loading="lazy"
            [appImageUrl]="blog.main_image"
            [imageEndpoint]="'uploads/blogs'"
            alt="article"
            class="w-full h-[250px] object-cover"
          />
        </figure>
      </a>
      <div class="p-4">
        <!-- ArticleDate -->
        <div class="built text-[14px] text-[#333] mb-[13px] relative">
          <div class="classs text-[14px] text-[#333] mb-[13px]">
            {{ blog.blog_date }}
          </div>
          <div
            class="circle rtl:right-[-4px] rtl:translate-x-full -translate-y-1/2 transform ltr:left-[-4px] ltr:-translate-x-full"
          ></div>
        </div>
        <!-- ArticleTitle -->
        <h1 class="text-subtitle-size text-black mb-[15px] font-semibold">
          {{ blog | customTranslate : "blog_title" }}
        </h1>

        <!-- ArticleDescription -->
        <h3
          [ngClass]="{
            'mb-[23px]': true,
            'mb-[10px]': !false
          }"
          class="text-description-size line-clamp-1 whitespace-normal leading-relaxed tracking-normal text-base"
        >
          <app-safe-html
            [content]="blog | customTranslate : 'blog_text'"
          ></app-safe-html>
        </h3>

        <!-- Read More -->
        <a
          [routerLink]="[
            '/',
            currentLang$ | async,
            'blog',
            blog | customTranslate : 'slug'
          ]"
          href="#"
          class="text-muted-rose text-[14px] font-bold underline"
        >
          {{ "shared.readMore" | translate }}
        </a>
      </div>
    </div>
    } }
  </div>
</section>
