<section class="overflow-x-hidden">
  <div
    [safeHtmlWithScripts]="blog | customTranslate : 'script_text'"
    class="hidden"
  ></div>
  <div class="container mx-auto">
    @if (blog) {
    <figure
      class="mb-15 my-5 rounded-xl overflow-hidden object-cover object-right-top"
    >
      <!--         class="w-full h-[200px] sm:h-full aspect-[16/9] max-h-[432px]"
 -->
      <img
        [appImageUrl]="blog.main_image"
        [imageEndpoint]="'uploads/blogs'"
        class="w-full max-h-[432px]"
        [alt]="blog | customTranslate : 'blog_title'"
      />
    </figure>
    <!-- Layout -->
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-11 items-start">
      <div class="lg:col-span-8 xl:text-justify">
        <!-- Date -->
        <div
          class="built ltr:left-[16px] rtl:right-[16px] text-[12px] sm:text-[14px] text-[#333] mb-[15px] sm:mb-[13px] relative"
        >
          <div class="text-[16px] text-[#333]">
            {{ blog.blog_date | date : "d MMMM y" }}
          </div>
          <div
            class="circle rtl:right-[-4px] rtl:translate-x-full -translate-y-1/2 transform ltr:left-[-4px] ltr:-translate-x-full"
          ></div>
        </div>

        <div class="mb-6 xl:text-justify">
          <!-- Title -->
          <h2 class="text-price-size font-bold pb-[23px] text-[#000]">
            {{ blog | customTranslate : "blog_title" }}
          </h2>

          <div class="mb-[35px] text-[#333]">
            <app-safe-html
              [content]="blog | customTranslate : 'blog_text'"
            ></app-safe-html>
          </div>
        </div>
      </div>

      <div class="lg:col-span-1"></div>
      <div class="lg:col-span-3">
        <app-section-heading
          class="mb-3"
          [sectionName]="'articles.sidebar.popular-section' | translate"
        ></app-section-heading>

        <!-- Popular Section -->

        <div class="all-sections mb-9">
          @for (blog of relatedBlogs.slice(0, 4); track $index) {
          <a
            class="cursor-pointer"
            href="#"
            [routerLink]="[
              '/',
              currentLanguage$ | async,
              'blog',
              blog | customTranslate : 'slug'
            ]"
          >
            <div
              class="p-3 mb-3 border rounded-[15px] border-[#E0E0E0] text-[#474747] text-description-size bg-white"
            >
              <span>
                {{ blog | customTranslate : "blog_title" }}
              </span>
            </div>
          </a>
          }
        </div>

        <!-- <div class="newProducts mb-[60px]">
          <app-section-heading
            class="mb-3"
            [sectionName]="'articles.sidebar.new-products' | translate"
          ></app-section-heading>
          First Card
          <div class="card">
            <div class="flex gap-2 items-center mb-3">
              <figure>
                <img
                  loading="lazy"
                  class="w-[99px]"
                  src="/images/news/12.png"
                  alt=""
                />
              </figure>
              <div class="content">
                <p class="mb-1 text-category-size text-[#333]">
                  {{
                    "articles.sidebar.newProducts.product-1.title" | translate
                  }}
                </p>
                <p class="mb-1 text-description-size font-semibold text-black">
                  {{
                    "articles.sidebar.newProducts.product-1.description"
                      | translate
                  }}
                </p>
                <div class="date underline text-muted-rose font-semibold">
                  {{
                    "articles.sidebar.newProducts.product-1.dates" | translate
                  }}
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <app-talent-image-card
          [imagePath]="'/images/news/13.webp'"
        ></app-talent-image-card>
      </div>
    </div>
    <!-- Blogs -->
    <app-related-blogs [lightLabel]="false" [relatedBlogs]="relatedBlogs">
    </app-related-blogs>
    } @else {
    <div class="py-8 text-center">
      <p class="text-gray-500">Loading blog content...</p>
    </div>
    }
  </div>
</section>
