<app-articles-header
  [title]="'checkout.header.title' | translate"
  [subTitle]="'checkout.header.subtitle' | translate"
  [showRotateImage]="false"
  [marginBottom]="'9'"
></app-articles-header>
<div class="container mx-auto">
  <div class="checkout-content">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 lg:col-span-8">
        <div class="payment-container">
          @if(isSubmitting()) {
          <div class="flex justify-center items-center py-8">
            <app-loading></app-loading>
          </div>
          } @else {
          <div>
            <h2 class="text-title-size text-black font-bold mb-[20px]">
              {{ "checkout.payment.choices" | translate }}
            </h2>

            <!-- Payment Methods -->
            <div class="payment-methods mb-8">
              <!-- Cash Option -->
              <div
                class="payment-selection-box border border-dashed border-[#8D8D8D] rounded-lg p-4 mb-4 cursor-pointer flex justify-between items-center"
                [class.active]="
                  selectedPaymentMethod() === PaymentMethod.CASH_ON_DELIVERY
                "
                (click)="selectPaymentMethod(PaymentMethod.CASH_ON_DELIVERY)"
              >
                <div class="flex items-center gap-x-2">
                  <figure
                    class="w-[50px] h-[50px] bg-[#ECECEC] rounded-[15px] flex items-center justify-center"
                  >
                    <img
                      src="/images/cart/cash.svg"
                      alt="Cash"
                      class="w-[40px] h-[40px]"
                      onerror="this.src='/images/cart/cash.svg'"
                    />
                  </figure>
                  <span class="text-[#0E0E0E] text-description-size">{{
                    "checkout.payment.methods.cash_on_delivery" | translate
                  }}</span>
                </div>
                <div class="checkbox-container">
                  <div
                    class="w-7 h-7 border border-[#8D8D8D] rounded-[5px] flex items-center justify-center bg-white"
                  >
                    @if(selectedPaymentMethod() ===
                    PaymentMethod.CASH_ON_DELIVERY) {
                    <div class="w-5 h-5 bg-[#CBAC8D] rounded-[5px]"></div>
                    }
                  </div>
                </div>
              </div>

              <!-- Online Payment Option -->
              <div
                class="payment-selection-box border border-dashed border-[#CBAC8D] rounded-lg p-4 cursor-pointer flex justify-between items-center"
                [class.active]="
                  selectedPaymentMethod() === PaymentMethod.ONLINE_PAYMENT
                "
                (click)="selectPaymentMethod(PaymentMethod.ONLINE_PAYMENT)"
              >
                <div class="flex items-center gap-x-2">
                  <figure
                    class="w-[50px] h-[50px] bg-[#ECECEC] rounded-[15px] flex items-center justify-center"
                  >
                    <img
                      src="/images/cart/payment.jpg"
                      alt="Credit Card"
                      class="w-[40px] h-[40px]"
                      onerror="this.src='/images/cart/payment.jpg'"
                    />
                  </figure>
                  <span class="text-[#0E0E0E] text-description-size">{{
                    "checkout.payment.methods.credit_card" | translate
                  }}</span>
                </div>
                <div class="checkbox-container">
                  <div
                    class="w-7 h-7 border border-[#8D8D8D] rounded-[5px] flex items-center justify-center bg-white"
                  >
                    @if(selectedPaymentMethod() ===
                    PaymentMethod.ONLINE_PAYMENT) {
                    <div class="w-5 h-5 bg-[#CBAC8D] rounded-[5px]"></div>
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>

      <!-- Order Summary Column -->
      <div class="col-span-12 lg:col-span-4">
        <app-order-summary [showDeliveryFee]="true" [showActionButton]="false">
          <!-- Submit Button -->
          <div class="flex justify-center mt-10">
            <app-button
              [px]="'px-[40px] sm:px-[84px]'"
              [py]="'py-[9px]'"
              [title]="'checkout.payment.place_order' | translate"
              [disabled]="isSubmitting() || !selectedPaymentMethod()"
              [isLoading]="isSubmitting()"
              (click)="handleOrderPlacement()"
              type="button"
            >
            </app-button>
          </div>
        </app-order-summary>
      </div>
    </div>
  </div>
</div>
