<!-- Sliders -->
<app-hero [heroSection]="homeData.sliders"></app-hero>

<!-- About-us  -->
<app-about-shared
  ut-shared
  [aboutUs]="homeData.aboutUs"
  [counters]="homeData.counters"
  [showSloganText]="false"
  [showBgImage]="true"
  [sloganText]="'hero.title' | translate"
>
</app-about-shared>

<!-- Categories -->
<app-sections [categories]="homeData.categories"></app-sections>

<!-- Breacks -->
<app-banner
  [showLeftSideImage]="true"
  [showRightSideImage]="true"
  [bannerText]="'banner.title-1' | translate"
></app-banner>

<!-- offers -->
<app-offer-card [offers]="homeData.offers"></app-offer-card>

<!-- Latest-Products -->
<app-best-seller [LatestProduct]="homeData.latestProducts"></app-best-seller>

<!-- Static-Banners -->
<app-banner
  [showLeftSideImage]="true"
  [showRightSideImage]="true"
  [bannerText]="'banner.title-2' | translate"
></app-banner>

<!-- RandomProducts -->
<app-offer-day [randomProducts]="homeData.randomProducts"></app-offer-day>

<!-- Static-Banners -->
<app-banner
  [showLeftSideImage]="true"
  [showRightSideImage]="true"
  [bannerText]="'banner.title-3' | translate"
></app-banner>

<!-- Will-be-added-soon -->
<app-new-products> </app-new-products>

<!-- Static-Banners -->
<app-banner
  [showLeftSideImage]="true"
  [showRightSideImage]="true"
  [bannerText]="'banner.title-4' | translate"
></app-banner>

<!-- Blogs -->
<app-new-articls></app-new-articls>
