.header {
  background-image: url(/images/news/4.webp);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cbac8d;
}
