<div class="container mx-auto mt-3 mb-{{ marginBottom }}">
  <div class="header p-9 text-center rounded-2xl relative" role="banner">
    <h1
      id="{{ headingId }}"
      class="text-title-size font-bold text-white mb-3 capitalize"
    >
      {{ title }}
    </h1>
    <p class="text-white text-description-size">
      {{ subTitle }}
    </p>
    @if (showRotateImage) {
    <figure
      class="hidden md:block absolute right-[23px] top-[23px] w-[73px] h-[73px]"
    >
      <img
        loading="lazy"
        width="73"
        height="73"
        class="max-w-[73px]"
        src="/images/common/rotate.gif"
        alt="Rotating animation"
        fetchpriority="low"
        aria-hidden="true"
      />
    </figure>
    }
  </div>
</div>
