<form [formGroup]="loginForm" (ngSubmit)="submition()">
  <figure class="mb-[30px] block">
    <img loading="lazy" src="/images/common/username.svg" alt="" />
  </figure>

  <!-- Full Name  -->
  <div class="flex justify-between items-center gap-x-[23px] mb-[42px]">
    <!-- First Name  -->
    <div class="flex-grow-1">
      <label
        for="firstName"
        class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
      >
        {{ "contact-us.form.first-name" | translate }}
      </label>
      <input
        type="text"
        formControlName="firstName"
        class="bg-white capo border border-[#8D8D8D] rounded-[15px] capitalize rtl:pr-4 ltr:pl-4 py-[18px] w-full"
        [placeholder]="'contact-us.form.placeholder-first-name' | translate"
      />
      @if (loginForm.get('firstName')?.invalid &&
      loginForm.get('firstName')?.touched) {
      <div class="mt-2 text-muted-rose">
        @if (loginForm.get('firstName')?.errors?.['required']) {
        <span>{{ "validation.name-required" | translate }}</span>
        }
      </div>
      }
    </div>
    <!-- Last Name  -->
    <div class="flex-grow-1">
      <label
        for="last-name"
        class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
      >
        {{ "contact-us.form.last-name" | translate }}
      </label>
      <input
        type="text"
        formControlName="lastName"
        id="last-name"
        class="bg-white border border-[#8D8D8D] rounded-[15px] rtl:pr-4 ltr:pl-4 py-[18px] w-full"
        [placeholder]="'contact-us.form.placeholder-last-name' | translate"
      />
      @if (loginForm.get('lastName')?.invalid &&
      loginForm.get('lastName')?.touched) {
      <div class="mt-2 text-muted-rose">
        @if (loginForm.get('lastName')?.errors?.['required']) {
        <span>{{ "validation.name-required" | translate }}</span>
        }
      </div>
      }
    </div>
  </div>

  <!-- Phone Number -->
  <div class="mb-[41px]">
    <label
      for="phone-number"
      class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
    >
      {{ "contact-us.form.phone-number" | translate }}
    </label>
    <input
      type="text"
      formControlName="phone"
      id="phone-number"
      class="bg-white border border-[#8D8D8D] rounded-[15px] rtl:pr-4 ltr:pl-4 py-[18px] w-full rtl:text-right ltr:text-left"
      [placeholder]="'contact-us.form.placeholder-phone-number' | translate"
    />
    @if (loginForm.get('phone')?.invalid && loginForm.get('phone')?.touched) {
    <div class="mt-2 text-muted-rose">
      @if (loginForm.get('phone')?.errors?.['required']) {
      <span>{{ "validation.phone-required" | translate }}</span>
      } @if (loginForm.get('phone')?.errors?.['minlength']) {
      <span>{{ "validation.phone-min-length" | translate }}</span>
      } @if (loginForm.get('phone')?.errors?.['pattern']) {
      <span>{{ "validation.phone-format" | translate }}</span>
      }
    </div>
    }
  </div>

  <!-- Email -->
  <div class="mb-[41px]">
    <label
      for="email"
      class="block relative text-subtitle-size font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
    >
      {{ "contact-us.form.email" | translate }}
    </label>
    <input
      type="email"
      formControlName="email"
      id="email"
      class="bg-white border border-[#8D8D8D] rounded-[15px] rtl:pr-4 ltr:pl-4 py-[18px] w-full"
      [placeholder]="'contact-us.form.placeholder-email' | translate"
    />
    @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
    <div class="mt-2 text-muted-rose">
      @if (loginForm.get('email')?.errors?.['required']) {
      <span>{{ "validation.email-required" | translate }}</span>
      } @if (loginForm.get('email')?.errors?.['email']) {
      <span>{{ "validation.email-format" | translate }}</span>
      }
    </div>
    }
  </div>

  <div class="flex justify-between items-center">
    <app-button
      class="cursor-pointer"
      [px]="'px-[58px]'"
      [py]="'py-[9px]'"
      [title]="'save_changes' | translate"
      [isLoading]="loading()"
      type="submit"
    >
    </app-button>
  </div>
</form>
