<app-about-shared
  [showBgImage]="false"
  [sloganText]="'about-us.slogan-text' | translate"
  [showSloganText]="true"
  [aboutUs]="aboutUs.aboutUs"
  [counters]="aboutUs.counters"
></app-about-shared>

<!-- Big Offer Card  -->
<div class="container mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 p-4">
    <app-card
      [cardImagePath]="'/images/whoWeAre/6.webp'"
      [cardDescription]="'about-us.cards.card-1.description' | translate"
      [cardTitle]="'about-us.cards.card-1.title' | translate"
    ></app-card>
    <app-card
      [cardImagePath]="'/images/whoWeAre/5.webp'"
      [cardDescription]="'about-us.cards.card-1.description' | translate"
      [cardTitle]="'about-us.cards.card-2.title' | translate"
    ></app-card>
  </div>
</div>

<!-- Banner_1 -->
<app-banner
  [showLeftSideImage]="true"
  [showRightSideImage]="true"
  [bannerText]="aboutUs.breaks[0] | customTranslate : 'name'"
>
</app-banner>

<!-- Card Service  -->
<div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-6">
  @for (feature of aboutUs.features | customTranslate; track feature.id) {
  <app-service-card
    [cardDescription]="feature.text"
    [cardImagePath]="API_CONFIG + 'uploads/about/' + feature.icon_image"
    [cardTitle]="feature.title"
    [isCenter]="false"
  ></app-service-card>
  }
</div>

<!-- Banner_2 -->
<app-banner
  [bannerText]="aboutUs.breaks[1] | customTranslate : 'name'"
  [showLeftSideImage]="false"
  [showRightSideImage]="true"
></app-banner>

<!-- Big Card Offer -->
<div
  class="container mx-auto px-4 mb-[109px] overflow-x-hidden md:overflow-x-visible"
>
  <div class="flex flex-wrap gap-x-6 gap-y-9 xl:gap-y-6 justify-center">
    @for (offer of aboutUs.offers | customTranslate; track offer.id) {
    @if(offer.active_status) {
    <app-big-card-offer
      [mainColor]="true"
      [alt]="offer.title"
      [imgPath]="API_CONFIG + 'uploads/about/' + offer.main_image"
      [title]="offer.ar_title"
      [subtitle]="offer.small_title"
      [description]="offer.text"
    ></app-big-card-offer>
    } }
  </div>
</div>

<!-- Banner_3 -->
<app-banner
  [bannerText]="
    aboutUs.breaks[aboutUs.breaks.length - 1] | customTranslate : 'name'
  "
  [showLeftSideImage]="true"
  [showRightSideImage]="false"
></app-banner>

<!-- FAQ -->
<app-faq></app-faq>
