<app-who-we-are-shared
  [showBgImage]="false"
  [sloganText]="'about-us.slogan-text' | translate"
  [showSloganText]="true"
></app-who-we-are-shared>

<!-- Big Offer Card  -->
<div class="container mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 p-4">
    <app-card
      [cardImagePath]="'/images/whoWeAre/6.webp'"
      [cardDescription]="'about-us.cards.card-1.description' | translate"
      [cardTitle]="'about-us.cards.card-1.title' | translate"
    ></app-card>
    <app-card
      [cardImagePath]="'/images/whoWeAre/5.webp'"
      [cardDescription]="'about-us.cards.card-1.description' | translate"
      [cardTitle]="'about-us.cards.card-2.title' | translate"
    ></app-card>
  </div>
</div>

<!-- Banner -->

<app-banner
  [showLeftSideImage]="true"
  [showRightSideImage]="true"
  [bannerText]="'banner.banner-about-us-1' | translate"
>
</app-banner>

<!-- Card Service  -->
<div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-6">
  <app-service-card
    [cardDescription]="'about-us.service-card.card-3.description' | translate"
    [cardImagePath]="'/images/whoWeAre/8.webp'"
    [cardTitle]="'about-us.service-card.card-3.title' | translate"
    [isCenter]="false"
  ></app-service-card>
  <app-service-card
    [cardDescription]="'about-us.service-card.card-2.description' | translate"
    [cardImagePath]="'/images/whoWeAre/7.webp'"
    [cardTitle]="'about-us.service-card.card-2.title' | translate"
    [isCenter]="false"
  ></app-service-card>
  <app-service-card
    [cardDescription]="'about-us.service-card.card-1.description' | translate"
    [cardImagePath]="'/images/whoWeAre/9.webp'"
    [cardTitle]="'about-us.service-card.card-1.title' | translate"
    [isCenter]="false"
  ></app-service-card>
</div>

<!-- Banner -->
<app-banner
  [bannerText]="'banner.banner-about-us-2' | translate"
  [showLeftSideImage]="false"
  [showRightSideImage]="true"
></app-banner>

<!-- Big Card Offer -->
<div
  class="container mx-auto px-4 mb-[109px] overflow-x-hidden md:overflow-x-visible"
>
  <div class="flex flex-wrap gap-x-6 gap-y-9 xl:gap-y-6 justify-center">
    <app-big-card-offer
      [mainColor]="true"
      [alt]="''"
      [imgPath]="'/images/categories/14.webp'"
      [title]="'offers.bigCard.0.imgTitle' | translate"
      [subtitle]="'offers.bigCard.0.imgSubtitle' | translate"
      [description]="'offers.bigCard.0.imgDescription' | translate"
    ></app-big-card-offer>
    <app-big-card-offer
      [mainColor]="false"
      [alt]="'bestSelling.heading' | translate"
      [imgPath]="'/images/categories/13.webp'"
      [title]="'offers.bigCard.1.imgTitle' | translate"
      [subtitle]="'offers.bigCard.1.imgSubtitle' | translate"
      [description]="'offers.bigCard.1.imgDescription' | translate"
    ></app-big-card-offer>
  </div>
</div>

<!-- Banner -->
<app-banner
  [bannerText]="'banner.banner-about-us-3' | translate"
  [showLeftSideImage]="true"
  [showRightSideImage]="false"
></app-banner>

<!-- FAQ -->
<app-faq></app-faq>
