<app-about-shared
  [showBgImage]="false"
  [sloganText]="'about-us.slogan-text' | translate"
  [showSloganText]="true"
  [aboutUs]="aboutUsTwo.aboutdata"
  [counters]="aboutUsOne.counters"
  aria-label="About our company section"
></app-about-shared>

<!-- Big Offer Card  -->
<div class="container mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 p-4">
    <!-- Static -->
    <app-card
      [cardImagePath]="'/images/whoWeAre/6.webp'"
      [cardDescription]="aboutUsTwo.aboutdata | customTranslate : 'vision_text'"
      [cardTitle]="'about-us.cards.card-1.title' | translate"
    ></app-card>
    <app-card
      [cardImagePath]="'/images/whoWeAre/5.webp'"
      [cardDescription]="
        aboutUsTwo.aboutdata | customTranslate : 'mission_text'
      "
      [cardTitle]="'about-us.cards.card-2.title' | translate"
    ></app-card>
  </div>
</div>

<!-- Banner_1 -->
<app-banner
  [showLeftSideImage]="true"
  [showRightSideImage]="true"
  [bannerText]="
    aboutUsOne.breaks && aboutUsOne.breaks.length > 0
      ? (aboutUsOne.breaks[0] | customTranslate : 'name')
      : ''
  "
  aria-label="Banner quote"
>
</app-banner>

<!-- Card Service  -->
<section
  class="text-center lg:ltr:text-left lg:rtl:text-right"
  aria-label="Our services"
>
  <div class="container mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 p-6">
      @for (feature of aboutUsTwo.features | customTranslate; track feature.id)
      {
      <!--
    [cardImagePath]="API_CONFIG + 'uploads/about/' + feature.icon_image"

  -->
      <app-service-card
        [cardDescription]="feature.text"
        [cardImagePath]="feature.icon_image"
        [cardTitle]="feature.title"
        [isCenter]="false"
      ></app-service-card>
      }
    </div>
  </div>
</section>

<!-- Banner_2 -->
<app-banner
  [bannerText]="
    aboutUsOne.breaks && aboutUsOne.breaks.length > 1
      ? (aboutUsOne.breaks[1] | customTranslate : 'name')
      : ''
  "
  [showLeftSideImage]="false"
  [showRightSideImage]="true"
  aria-label="Banner quote"
></app-banner>

<!-- Big Card Offer -->
<section
  aria-label="Special offers"
  class="container mx-auto px-4 mb-[109px] overflow-x-hidden md:overflow-x-visible"
>
  <div class="flex flex-wrap gap-x-6 gap-y-9 xl:gap-y-6 justify-center">
    @if(aboutUsOne.offers.length > 0){ @for (offer of aboutUsOne.offers.length >
    1 ? aboutUsOne.offers.slice(0,2) : [aboutUsOne.offers[0],
    aboutUsOne.offers[0]]; track $index) {
    <app-big-card-offer
      [routerLink]="['/', currentLang$ | async, 'shopping']"
      [mainColor]="$even"
      [alt]="offer | customTranslate : 'title'"
      [imgPath]="`/images/categories/${$index}.webp`"
      [title]="offer | customTranslate : 'title'"
      [subtitle]="offer | customTranslate : 'samll_title'"
      [description]="offer | customTranslate : 'text'"
    ></app-big-card-offer>
    } }
  </div>
</section>

<!-- Banner_3 -->
<app-banner
  [bannerText]="
    aboutUsOne.breaks && aboutUsOne.breaks.length > 0
      ? (aboutUsOne.breaks[aboutUsOne.breaks.length - 1]
        | customTranslate : 'name')
      : ''
  "
  [showLeftSideImage]="true"
  [showRightSideImage]="false"
  aria-label="Banner quote"
></app-banner>

<!-- FAQ -->
<app-faq [faqs]="aboutUsTwo.faqs"></app-faq>
