<div class="bg-warm-tan py-3 md:py-7 my-[60px] text-center w-full">
  <div class="container mx-auto flex items-center justify-center gap-2">
    @if (showLeftSideImage) {
    <figure class="mx-2 md:mx-7">
      <img
        class="hidden sm:block max-w-[55px] max-h-[50px]"
        loading="lazy"
        src="/images/common/1.webp"
        alt="Banner decoration icon"
        role="presentation"
      />
    </figure>

    }

    <p class="text-black text-description-size">" {{ bannerText }} "</p>
    @if (showRightSideImage) {
    <figure class="mx-2 md:mx-7">
      <img
        class="hidden sm:block max-w-[55px] max-h-[50px]"
        loading="lazy"
        src="/images/common/1.webp"
        alt="Banner decoration icon"
        role="presentation"
      />
    </figure>

    }
  </div>
</div>
