<section>
  <app-articles-header
    [title]="'auth.login.header.title' | translate"
    [subTitle]="'auth.login.header.subtitle' | translate"
    [showRotateImage]="false"
    [marginBottom]="'9'"
  ></app-articles-header>
  <div class="container mx-auto">
    <!-- Contact Us Form -->
    <div class="mb-15">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 lg:col-span-8">
          <!-- Left Section: Form -->

          <form [formGroup]="loginForm" (ngSubmit)="submition()">
            <!-- Phone Number -->
            <div class="mb-[30px]">
              <label
                for="phone-number"
                class="block relative text-[23px] capitalize font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
              >
                {{ "auth.login.login-form.phone-number" | translate }}
              </label>
              <input
                formControlName="email"
                type="text"
                id="phone-number"
                class="bg-white border border-[#8D8D8D] rounded-[15px] pr-4 py-[18px] w-full rtl:text-right ltr:text-left"
                [placeholder]="
                  'auth.login.login-form.phone-number-placeholder' | translate
                "
              />
            </div>

            <!-- Password -->
            <div class="mb-[30px]">
              <label
                for="password"
                class="block relative text-[23px] capitalize font-bold mb-[23px] after:absolute after:content-['*'] after:-top-[6px] ltr:after:right-0 rtl:after:left-0 w-fit after:text-muted-rose after:transform ltr:after:translate-x-full rtl:after:-translate-x-full after:font-bold after:text-[30px]"
              >
                {{ "auth.login.login-form.password" | translate }}
              </label>
              <input
                type="password"
                id="password"
                class="bg-white border border-[#8D8D8D] rounded-[15px] pr-4 py-[18px] w-full"
                [placeholder]="
                  'auth.login.login-form.password-placeholder' | translate
                "
                formControlName="password"
              />
            </div>

            <app-button
              [px]="'px-[67px]'"
              [py]="'py-[9px]'"
              [title]="'routes.login' | translate"
              [type]="'submit'"
            >
            </app-button>
          </form>
        </div>
        <div class="hidden lg:block lg:col-span-4">
          <figure>
            <img
              class="rtl:mr-auto ltr:ml-auto"
              loading="lazy"
              src="/images/auth/1.png"
              alt=""
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
