<div class="bg-white">
  <div class="relative mb-[13px]">
    <!-- ArticleImage -->
    <figure class="rounded-xl overflow-hidden main_Image_Animation">
      <img
        loading="lazy"
        [appImageUrl]="blogData.main_image"
        [imageEndpoint]="'uploads/blogs'"
        alt="article"
        class="w-full object-cover"
      />
    </figure>
  </div>

  <div class="p-4">
    <!-- ArticleDate -->

    <div class="built relative">
      <div class="classs text-[14px] text-[#333] mb-[13px]">
        {{ blogData.blog_date }}
      </div>
      <div
        class="circle rtl:right-[-4px] rtl:translate-x-full -translate-y-1/2 transform ltr:left-[-4px] ltr:-translate-x-full"
      ></div>
    </div>
    <!-- ArticleTitle -->
    <h3 class="text-subtitle-size text-black mb-[15px] font-semibold">
      {{ blogData | customTranslate : "blog_title" }}
    </h3>

    <!-- ArticleDescription -->
    <div
      [ngClass]="{
        'mb-[23px]': true,
        'mb-[10px]': !false
      }"
      class="text-description-size"
    >
      <app-safe-html
        [content]="blogData | customTranslate : 'blog_text'"
      ></app-safe-html>
    </div>

    <!-- Read More -->
    <a
      [routerLink]="[
        '/',
        currentLang$ | async,
        'blog',
        blogData | customTranslate : 'slug'
      ]"
      href="#"
      class="text-muted-rose text-[14px] font-bold underline"
    >
      {{ "shared.readMore" | translate }}
    </a>
  </div>
</div>
