<div class="absolute inset-x-0 z-100 bg-white">
  <div
    class="absolute w-full mt-5 max-h-[400px] overflow-y-scroll lg:h-auto lg:overflow-visible"
  >
    <div
      class="w-full overflow-hidden bg-white text-sm/6 shadow-lg ring-1 ring-gray-900/5"
    >
      <div
        class="flex items-center justify-evenly gap-x-[34px] gap-y-[60px] pt-[70px] pb-[90px] px-[31px] flex-wrap"
      >
        <!-- dietary_supplements -->
        @for (category of categories; track category.id) { @if
        (category.subcategories.length > 0) {

        <div class="parent">
          <h3
            class="text-black underline text-category-size font-bold capitalize px-4 mb[21px]"
          >
            {{ category | customTranslate : "name" }}
          </h3>

          <div
            [ngClass]="{
              'overflow-y-scroll': contentHeight > 200,
              'overflow-visible': contentHeight <= 200
            }"
            #menuContent
            class="bg-white min-w-[200px] max-h-[200px] overflow-y-auto overflow-x-hidden shadow-[0_4px_4px_rgba(0,0,0,0.25)] rounded-2xl scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar scrollbar-thumb-warm-tan scrollbar-track-[#EEE2E2] p-4"
          >
            <div class="space-y-2">
              @for (subCategory of category.subcategories; track subCategory.id)
              {
              <p class="text-gray-600 hover:text-gray-900 cursor-pointer">
                {{ subCategory | customTranslate : "name" }}
              </p>

              }

              <p class="text-gray-600 hover:text-gray-900 cursor-pointer"></p>
            </div>
          </div>
        </div>
        } }
      </div>
    </div>
  </div>
</div>
