<div
  class="absolute inset-x-0 z-50 bg-white shadow-xl rounded-b-xl"
  (click)="$event.stopPropagation()"
>
  <div
    class="absolute w-full mt-5 max-h-[calc(100vh-150px)] overflow-y-auto lg:max-h-[600px] lg:overflow-visible"
  >
    <div
      class="w-full overflow-hidden bg-white text-sm/6 ring-1 ring-gray-200 rounded-b-xl"
    >
      <div class="py-5 px-[20px] xl:px-[30px]">
        <!-- Title and search -->
        <div class="flex justify-between items-center mb-4 md:mb-6">
          <button
            class="p-2 rounded-full hover:bg-gray-100 transition-colors cursor-pointer"
            (click)="closeMenu.emit()"
            aria-label="Close menu"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 md:h-6 md:w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>

        <!-- Categories grid -->
        <div class="grid grid-cols-1 xl:grid-cols-6 flex-wrap">
          <!-- Skeleton loader when categories are loading -->
          @if (isLoading) { @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track i)
          {
          <div class="animate-pulse my-5 xl:m-5">
            <div
              class="bg-white min-w-[200px] h-[150px] md:h-[200px] shadow-sm border border-gray-100 rounded-xl p-4"
            >
              <div class="space-y-4">
                @for (j of [1, 2, 3, 4]; track j) {
                <div class="h-4 bg-gray-200 rounded w-full"></div>
                }
              </div>
            </div>
          </div>
          } } @else {
          <!-- Categories -->
          @for (category of categories; track category.id) { @if
          (category.subcategories.length > 0) {
          <div class="category-card w-full pt-7 pb-12 xl:px-[34px]">
            <a
              (click)="closeMenu.emit()"
              class="font-bold capitalize mb-[9px] px-[15px] cursor-pointer hover:text-primary transition-colors group flex items-center justify-between"
              [routerLink]="['/', currentLang$ | async, 'shopping']"
              [queryParams]="{
                categoryId: category.id,
              }"
            >
              <span
                class="group-hov er:translate-x-1 rtl:group-hover:-translate-x-1 transition-transform duration-300 text-black font-bold capitalize underline text-[16px]"
              >
                {{ category | customTranslate : "name" }}
              </span>
            </a>

            <div
              #menuContent
              class="p-[15px] subcategory-card bg-white w-full overflow-y-auto rounded-[15px]"
              [ngClass]="{
                'h-[150px]': isMobile,
                'h-[125px]': !isMobile,
                'h-[110px]': category.subcategories.length > 3
              }"
            >
              <div>
                @for (subCategory of category.subcategories; track
                subCategory.id) {
                <a
                  [routerLink]="['/', currentLang$ | async, 'shopping']"
                  [queryParams]="{
                categoryId: category.id,
              }"
                  class="mb-[15px] text-black hover:bg-gray-50 transition-colors cursor-pointer group flex justify-between items-center text-[15px] font-medium"
                  (click)="closeMenu.emit()"
                >
                  <span>{{ subCategory | customTranslate : "name" }}</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-3 w-3 md:h-4 md:w-4 opacity-0 group-hover:opacity-100 text-warm-tan transition-all duration-300"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M13 7l5 5m0 0l-5 5m5-5H6"
                    />
                  </svg>
                </a>
                }
              </div>
            </div>
          </div>
          } } }
        </div>
      </div>
    </div>
  </div>
</div>
