<div
  [ngClass]="{ 'bg-[#d7bba5]': mainColor, 'bg-white': !mainColor }"
  class="relative flex w-full h-full md:flex-row rounded-lg shadow-md"
>
  <div class="flex flex-col justify-between p-6">
    <span
      [ngClass]="{ 'bg-[#d7bba5]': !mainColor, 'bg-white': mainColor, 'text-[#d7bba5]': mainColor, 'text-white': !mainColor, }"
      class="inline-block text-black text-subtitle-size px-9 py-4 rounded-full my-3 w-fit"
    >
      {{ "shared.offer" | translate }}
    </span>
    <h2
      class="text-[25px] md:text-[30px] font-semibold md:font-bold text-black mb-[10px] lg:line-clamp-2"
    >
      {{ title }}
    </h2>
    <h3
      class="text-[25px] md:text-[30px] font-semibold lg:line-clamp-1 mb-[10px]"
      [ngClass]="{ 'text-[#d7bba5]': !mainColor, 'text-white': mainColor }"
    >
      {{ subtitle }}
    </h3>

    <div class="text-description-size text-black mb-[23px] lg:line-clamp-2">
      <app-safe-html [content]="description" [trusted]="true"> </app-safe-html>
    </div>

    <app-arrow-button
      [gap]="'5px'"
      [px]="'4'"
      [py]="'2'"
      [title]="'shared.shopping_now' | translate"
      [type]="'button'"
      [bg]="'white'"
      [border]="'black'"
      [color]="'black'"
      [image]="'/images/navbar/9.webp'"
    >
    </app-arrow-button>
  </div>

  <div class="md:w-1/2 flex h-full items-end">
    <figure class="h-[200px] sm:h-full">
      <img
        loading="lazy"
        [appImageUrl]="imgPath"
        [imageEndpoint]="''"
        [alt]="alt"
        class="w-full h-full"
      />
    </figure>
    @if (!mainColor ) {

    <div
      class="hidden xl:block image-rotate top-0 rtl:left-0 ltr:right-0 absolute z-1 rtl:-translate-x-1/2 ltr:translate-x-1/2 -translate-y-1/2"
    >
      <figure>
        <img
          loading="lazy"
          class="w-[73px]"
          src="/images/common/rotate.gif"
          alt="Product rotation animation"
          role="presentation"
        />
      </figure>
    </div>
    }
  </div>
</div>
