<app-articles-header
  [title]="'shopping.header.title' | translate"
  [subTitle]="'shopping.header.subtitle' | translate"
  [showRotateImage]="true"
  [marginBottom]="'9'"
></app-articles-header>

<section>
  <div class="container mx-auto">
    <div class="wrapper">
      <!-- Filter Options Header -->
      <div class="filter-header flex justify-between items-center mb-[26px]">
        <h2 class="text-black text-title-size font-bold capitalize">
          {{ "shopping.filter.selected-filter" | translate }}
        </h2>
        <p class="text-[#474747] font-light text-description-size">
          {{ "shopping.filter.products-counts" | translate }}
        </p>
      </div>

      <!-- Dismissible-Badges Header -->
      <div class="flex justify-between items-center mb-9">
        <div class="chips">
          <app-dismissible-badges
            [badges]="selectedFilters()"
            (badgeRemoved)="onBadgeRemoved($event)"
          ></app-dismissible-badges>
        </div>
        <button class="underline" (click)="clearAllFilters()">
          {{ "shopping.filter.filter-type.clear-all" | translate }}
        </button>
      </div>
      <div class="grid grid-cols-12 gap-[13px]">
        <!-- Filter Box -->
        <div class="col-span-12 xl:col-span-2">
          <!-- Filter Box Category -->
          <div
            class="max-h-[276px] p-4 overflow-y-scroll shadow-[0_4px_4px_rgba(0,0,0,0.25)] rounded-2xl scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar scrollbar-thumb-warm-tan scrollbar-track-[#EEE2E2]"
          >
            <div class="filter-box">
              <h3 class="text-black text-[23px] font-bold mb-6">
                {{ "shopping.filter-box.title" | translate }}
              </h3>

              <!-- CheckBox -->
              @for (category of categories ; track $index) {
              <label
                class="flex items-center gap-2 cursor-pointer justify-start rtl:justify-end rtl:flex-row-reverse mb-4"
              >
                <input
                  type="checkbox"
                  class="hidden peer"
                  [attr.data-slug]="category | customTranslate : 'slug'"
                  (change)="toggleFilter(category, $event.target)"
                />

                <!-- Label Text -->
                <span class="text-description-size text-[#474747]">
                  {{ category | customTranslate : "name" }}
                </span>

                <!-- Custom Checkbox Style -->
                <div
                  class="w-6 h-6 border-2 border-[#8D8D8D] rounded-md flex items-center justify-center text-transparent peer-checked:text-black"
                >
                  <!-- Checkmark Icon -->
                  <svg
                    class="w-4 h-4"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="3"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M5 13l4 4L19 7"
                    />
                  </svg>
                </div>
              </label>
              }
            </div>
          </div>

          <!-- Price Filter -->
          <div class="border-t border-[#D0CBCB] my-[35px]"></div>
          <div class="filter-box px-4">
            <h3 class="text-black description-size text-[23px] font-bold mb-6">
              {{ "shopping.filter.price.title" | translate }}
            </h3>

            <!-- Price Range Display -->
            <div class="mb-4 text-[#474747] price-size">
              {{ minPrice }}
              {{ "shopping.filter.price.currency" | translate }} -
              {{ maxPrice }} {{ "shopping.filter.price.currency" | translate }}
            </div>

            <!-- Range Slider -->
            <div class="price-range-slider relative mb-6">
              <div class="slider-track"></div>
              <input
                type="range"
                class="range-min"
                [min]="200"
                [max]="1000"
                [value]="minPrice"
                [(ngModel)]="minPrice"
                (input)="onPriceChange()"
              />
              <input
                type="range"
                class="range-max"
                [min]="200"
                [max]="1000"
                [value]="maxPrice"
                [(ngModel)]="maxPrice"
                (input)="onPriceChange()"
              />
            </div>
          </div>

          <div class="border-t border-[#D0CBCB] my-[35px]"></div>
          <div class="filter-box">
            <h3 class="text-black text-[23px] font-bold mb-6">
              {{ "availability" | translate }}
            </h3>

            <!-- Available Products Filter -->
            <label
              class="flex items-center gap-2 cursor-pointer justify-start rtl:justify-end rtl:flex-row-reverse mb-4"
            >
              <input
                type="checkbox"
                class="hidden peer"
                id="availabilityToggle"
                [checked]="stockFilter() === 'available'"
                (change)="toggleAvailabilityFilter(true)"
              />

              <!-- Label Text -->
              <span class="text-description-size text-[#474747]">
                {{ "availability" | translate }}
              </span>

              <!-- Custom Checkbox Style -->
              <div
                class="w-6 h-6 border-2 border-[#8D8D8D] rounded-md flex items-center justify-center text-transparent peer-checked:text-black"
              >
                <!-- Checkmark Icon -->
                <svg
                  class="w-4 h-4"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="3"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M5 13l4 4L19 7"
                  />
                </svg>
              </div>
            </label>

            <!-- Unavailable Products Filter -->
            <label
              class="flex items-center gap-2 cursor-pointer justify-start rtl:justify-end rtl:flex-row-reverse mb-4"
            >
              <input
                type="checkbox"
                class="hidden peer"
                id="unavailabilityToggle"
                [checked]="stockFilter() === 'unavailable'"
                (change)="toggleAvailabilityFilter(false)"
              />

              <!-- Label Text -->
              <span class="text-description-size text-[#474747]">
                {{ "unavailability" | translate }}
              </span>

              <!-- Custom Checkbox Style -->
              <div
                class="w-6 h-6 border-2 border-[#8D8D8D] rounded-md flex items-center justify-center text-transparent peer-checked:text-black"
              >
                <!-- Checkmark Icon -->
                <svg
                  class="w-4 h-4"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="3"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M5 13l4 4L19 7"
                  />
                </svg>
              </div>
            </label>
          </div>
        </div>
        <!-- All Cards -->
        <div class="col-span-12 xl:col-span-10 mb-15">
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            @for (product of filteredProducts() ; track product.id) {

            <app-shared-best-seller
              [productData]="product"
            ></app-shared-best-seller>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
