/* Style for range inputs - Webkit (Chrome, Safari, newer Edge) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 2px solid #8d8d8d;
  border-radius: 50%;
  cursor: pointer;
}

/* Style for range inputs - Firefox */
input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #fff;
  border: 2px solid #8d8d8d;
  border-radius: 50%;
  cursor: pointer;
}

/* Ensure the second range slider thumb appears above the track */
input[type="range"]:nth-child(2) {
  background: none;
}

input[type="range"]:nth-child(2)::-webkit-slider-thumb {
  position: relative;
  z-index: 1;
}

input[type="range"]:nth-child(2)::-moz-range-thumb {
  position: relative;
  z-index: 1;
}

.price-range-slider {
  height: 5px;
  position: relative;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.range-min,
.range-max {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  pointer-events: none;
}

/* Style for range inputs - Webkit (Chrome, Safari, newer Edge) */
.range-min::-webkit-slider-thumb,
.range-max::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #000000;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  margin-top: -5px;
  position: relative;
  z-index: 2;
}

/* Style for range inputs - Firefox */
.range-min::-moz-range-thumb,
.range-max::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #000000;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  position: relative;
  z-index: 2;
}

/* Style for the track - Webkit */
.range-min::-webkit-slider-runnable-track,
.range-max::-webkit-slider-runnable-track {
  height: 5px;
  background: transparent;
}

/* Style for the track - Firefox */
.range-min::-moz-range-track,
.range-max::-moz-range-track {
  height: 5px;
  background: transparent;
}

/* Style for the selected range track */
.range-min::-webkit-slider-runnable-track,
.range-max::-webkit-slider-runnable-track {
  background: transparent;
  height: 5px;
}

.range-min::-moz-range-track,
.range-max::-moz-range-track {
  background: transparent;
  height: 5px;
}

/* Style for radio buttons */
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: #000000;
  border: 2px solid #000000;
}

/* The black line between handles */
.price-range-slider::before {
  content: "";
  position: absolute;
  height: 5px;
  background: #000000;
  left: var(--left-percent, 0%);
  right: var(--right-percent, 0%);
  z-index: 1;
}

/* Remove focus styles */
.range-min:focus,
.range-max:focus {
  outline: none;
}

/* Optional: Hover state for the thumbs */
.range-min::-webkit-slider-thumb:hover,
.range-max::-webkit-slider-thumb:hover,
.range-min::-moz-range-thumb:hover,
.range-max::-moz-range-thumb:hover {
  background: #333333;
}
